* {
    box-sizing: border-box;
}

.row {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-family: Helvetica;
    font-size: 14px;
}

.total_cost {
    position: absolute;
    right: 35%;
    text-align: left;
    font-size: 16px;
    top: 15px;
}

.connector-1 {
    margin: 0 auto;
    width: 2px;
    height: 20px;
    background: black;
}
.connector-2 {
    position: absolute;
    top: -20px;
    left: calc(49% + 1px);
    width: 2px;
    height: 20px;
    background: black;
}
.connector-3 {
    margin: 0 auto;
    height: 2px;
    background: black;
}
.connector-4 {
    position: absolute;
    left: -20px;
    top: 20px;
    width: 20px;
    height: 2px;
    background: black;
}
.task .connector-4 {
    width: 30px;
    left: -30px;
}
.connector-5 {
    position: absolute;
    left: -20px;
    top: 20px;
    width: 2px;
    height: 0px;
    background: black;
}

.column {
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;
}

.block {
    padding: 10px;
    height: 120px;
    width: 240px;
    background: #D4E1F5;
    outline: 2px solid black;
    position: relative;
    text-align: left;

}
.block .name {
    font-size: 16px;
    width: 100%;
    /*white-space: nowrap;*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 36px;
    line-height: 18px;
    margin: 0 auto;
}
.block .cost {
    position: absolute;
    top: 32px;
    left: 10px;

}
.block .bottomelement {
    position: absolute;
    bottom: 0px;
    width: 50%;
    height: 25px;
    padding: 5px 10px;
    border: 1px solid black;
}
.block .wbs {
    left: 0px;
    bottom: 25px;
    border-width: 1px 1px 1px 0px;
    width: 25%;
}
.block .infos {
    width: 75%;
    bottom: 25px;
    right: 0px;
    border-width: 1px 0px 1px 0px;
}
.block .startdate {
    left: 0px;
    text-align: center;
    border-width: 0px 1px 0px 0px;
}
.block .startdate.jalon {
    width: 100%;
    border-width: 0px 0px 0px 0px;
}
.block .finishdate {
    right: 0px;
    text-align: center;
    border-width: 0px 0px 0px 0px;
}
.block .finishdate.jalon {
    display: none;
}
.block.task {
    width: 203px;
    height: 99px;
    background: #FFF2CC;
    margin-top: 20px;
    margin-right: 25px;
    float: right;
    clear: both;
}
.block.task .status {
    transform: rotate(270deg);
    font-weight: bold;
    width: 103px;
    height: 25px;
    bottom: 37px;
    right: -66px;
    text-align: center;
    border: 2px solid black;
    border-top: 0px none;
    outline: 0px
}
.block.task .status.done { background: #B9E0A5; }
.block.task .status.doing { background: #FFD966; }
.block.task .status.todo { background: #F19C99; }
.block.task .name { font-weight: normal; }